/*
  * Styles for the main content area of all pages
*/

.site-content {
  /*
    * this class is used in header.php in a div 
    * that is before the main content
  */
  display: flex;
  justify-content: center;
  flex: 1;

  &.raise {
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 3rem;
    }
  }
}

.site-main {
  width: 100%;
  margin: 0 $spacer * 1.5 $spacer * 1.5;
  @media (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }
}

.site-post {
  margin-top: $spacer;
}

.entry {
  &-title {
    font-family: $font__title;
    font-weight: 300;
    font-size: $font__size-l;
  }

  &-meta {
    font-size: $font__size-s;
    margin: 0.5rem 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
  }

  &-content {
    p {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: $spacer;
    }
  }

  &-thumbnail {
    float: left;
    margin: 0 0.5rem 0 0;
    img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &-footer {
    clear: both;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

    .cat-links {
      display: block;
    }
    .tags-links {
      display: block;
    }
    .edit-link {
      display: block;
    }
  }
}

.byline {
  padding-right: 0.5rem;
}

.posted-on {
  padding-left: 0.5rem;
}
