/*
  * Styles for the main content area of all pages
*/

.site-content {
  /*
    * this class is used in header.php in a div 
    * that is before the main content
  */
  display: flex;
  justify-content: center;
  flex: 1;

  &.raise {
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 3rem;
    }
  }
}

.site-main {
  width: 100%;
  margin: 0 $spacer * 1.5 $spacer * 1.5;
  @media (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }
}
