.site {
  /*
    * this class is used in header.php in a div 
    * that wraps the header, content and footer
  */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  display: flex;
  justify-content: center;
  margin-top: $spacer;
  box-shadow: 0 4px 2px -2px #dcdcdc;
  transition: all 200ms ease-in;
  &.hide {
    box-shadow: 0 4px 2px -2px $color__background-light;
  }

  &__wrapper {
    width: 100%;
    margin-left: $spacer * 1.5;
    margin-right: $spacer * 1.5;
    @media (min-width: $breakpoint-desktop) {
      width: $breakpoint-desktop;
    }
  }
}

.site-branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: $font__size-xl;
    font-family: $font__title;
    padding-bottom: $spacer * 0.75;
    border-bottom: 1px solid #dcdcdc;
  }
}

.site-title {
  font-family: $font__title;
  font-weight: 300;
  font-size: $font__size-xl;
  margin: 0;
  &__nav {
    cursor: pointer;
    display: inline-block;
    margin-top: $spacer .25;
  }
}

.site-description {
  margin: 0;
  padding: 0.5rem 0;
  font-size: $font__size-s;
  font-family: $font__title;
  font-weight: 100;
  font-style: italic;
  border-bottom: 1px solid #dcdcdc;
}

.main-navigation {
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}

.main-navigation {
  height: 30vh;
  transition: all 200ms ease-in;
  &__wrapper {
    font-size: 1.2rem;
    line-height: 1.75rem;
    height: 100%;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    }
  }

  &__left {
    padding-right: $spacer * 1.5;
    height: 100%;
    overflow: hidden;
    &:hover {
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #dcdcdc;
        border: 2px solid #cdcdcd;
      }
    }
  }

  &__right {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      min-width: 10rem;
      display: block;
      overflow: hidden;
      &:hover {
        overflow-y: auto;
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #dcdcdc;
          border: 2px solid #cdcdcd;
        }
      }
    }
  }

  &.hide {
    height: 0;
  }
}

/*
 * Hamburger button
*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #cdcdcd;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  & .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}