$font__title: 'Roboto Slab', serif;
$font__main: 'Lato', sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-xl: 3.2rem;
$font__size-l: 2.2rem;
$font__size-m: 1.8rem;
$font__size-s: 1.2rem;
$font__size-xs: 0.9rem;
